<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="Default-Test" connectionString="Server=DESKTOP-75UIJCP\SQLEXPRESS; Database=RatliffFamily; User Id=db_website_ratliff; Password=password"/>-->
    <!--<add name="Default" connectionString="Server=ratliffFamTest.db.8161541.16d.hostedresource.net; Database=ratliffFamTest; User Id=ratliffFamTest; Password=r@tliffT3st0D25C3B0; Trusted_Connection=False;"/>-->
    <add name="Default-windHost" connectionString="Data Source=tcp:s18.winhost.com;Initial Catalog=DB_133112_ratlifftest;User ID=DB_133112_ratlifftest_user;Password=ratlifftest@8E669994;Integrated Security=False;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>